# Cartelle di cui non effettuare mai lo staging
Telemetrie/
Dizionari_dataframes/
Risultati_analisi/
Risultati_analisi_statistica/
Risultati_NN/
__pycache__/
.idea/
Dizionari_datasets/
Storico_pesi/

# Estensioni file da non considerare mai
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.run.xml
*.synctex.gz
*.toc
*.pdf
*.bbl-SAVE-ERROR

# Ambiente virtuale
venv/
.venv/

# File specifici
NavNet_weights.pkl
